 .u-section-1 {
  background-image: url("images/desfoque-abstrato-estudio-vazio-de-gradiente-verde-bem-use-como-modelo-de-site-de-fundo-de-relatorio-de-negocios_1258-52607.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 590px;
}

.u-section-1 .u-image-1 {
  width: 442px;
  height: 487px;
  margin: 40px auto 0 28px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -382px 11px 0 481px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 11px 30px 60px 481px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-image-1 {
    width: 333px;
    height: 375px;
    margin-top: 90px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -301px;
    margin-right: 19px;
    margin-left: 363px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 61px;
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 154px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -449px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 364px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 218px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -509px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin: 365px 0 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 235px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -505px;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 400px;
    margin-bottom: 58px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 738px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 75px 109px 0;
}

.u-section-2 .u-image-1 {
  width: 305px;
  height: 305px;
  margin: 46px auto 0 127px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -270px 137px 0 477px;
}

.u-section-2 .u-image-2 {
  width: 801px;
  height: 78px;
  margin: 93px 155px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
    margin-left: 9px;
  }

  .u-section-2 .u-image-1 {
    width: 286px;
    height: 286px;
    margin-top: 45px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -278px;
    margin-right: 45px;
    margin-left: 369px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 87px;
    margin-right: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 40px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -274px;
    margin-right: 26px;
    margin-left: 295px;
  }

  .u-section-2 .u-image-2 {
    height: 70px;
    margin-top: 40px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 51px;
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    width: 376px;
    height: 376px;
    margin-top: 38px;
    margin-left: -106px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -376px;
    margin-right: 0;
    margin-left: 219px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 26px;
    margin-bottom: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 54px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-top: 412px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -724px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 51px;
    width: 418px;
    margin: 387px -39px 60px;
  }
} .u-section-3 {
  background-image: url("images/desfoque-abstrato-estudio-vazio-de-gradiente-verde-bem-use-como-modelo-de-site-de-fundo-de-relatorio-de-negocios_1258-52607.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 540px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 64px 72px 0 530px;
}

.u-section-3 .u-image-1 {
  width: 389px;
  height: 389px;
  margin: -66px auto 0 114px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -304px 79px 60px 530px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 79px;
    margin-right: 25px;
    margin-left: 385px;
  }

  .u-section-3 .u-image-1 {
    width: 397px;
    height: 397px;
    margin-top: -57px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -320px;
    margin-right: 20px;
    margin-left: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-3 .u-text-1 {
    width: 538px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 45px;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-3 .u-text-1 {
    width: 429px;
    margin-top: 44px;
    font-size: 3rem;
  }

  .u-section-3 .u-image-1 {
    margin-top: 38px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 60px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 32px;
    margin-right: -31px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 511px;
}

.u-section-4 .u-image-1 {
  width: 366px;
  height: 366px;
  margin: 76px auto 0 67px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -366px 67px 0 451px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 18px 58px 0 451px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 37px 208px 60px auto;
  padding: 8px 20px 9px 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-4 .u-image-1 {
    width: 338px;
    height: 337px;
    margin-top: 161px;
    margin-left: 42px;
  }

  .u-section-4 .u-text-1 {
    width: 617px;
    margin-top: -432px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 42px;
    margin-right: 42px;
    margin-left: 399px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-right: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-4 .u-image-1 {
    height: 338px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -433px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 38px;
    margin-right: 20px;
    margin-left: 378px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 38px;
    margin-right: auto;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 112px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -410px;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 378px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 161px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 206px;
    margin-top: -444px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 392px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 559px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 620px;
  margin: 33px auto 0;
}

.u-section-5 .u-image-1 {
  width: 348px;
  height: 348px;
  margin: 43px auto 0 -13px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: -322px 58px 0 280px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 58px 0 280px;
}

.u-section-5 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 286px 60px 280px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-5 .u-image-1 {
    width: 379px;
    height: 379px;
    margin-top: 33px;
    margin-left: 28px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -360px;
    margin-right: 154px;
    margin-left: 348px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 154px;
    margin-left: 348px;
  }

  .u-section-5 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: 3px;
    margin-right: 28px;
    margin-left: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 22px;
    margin-left: -63px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -353px;
    margin-right: 37px;
    margin-left: 245px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 22px;
    margin-right: 38px;
    margin-left: 245px;
  }

  .u-section-5 .u-text-4 {
    margin-right: -7px;
    margin-left: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-5 .u-text-1 {
    width: 272px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 49px;
    margin-left: -96px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -346px;
    margin-right: -96px;
    margin-left: 198px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 15px;
    margin-right: 11px;
    margin-left: 198px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: -96px;
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 52px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 112px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -479px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 422px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 595px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 620px;
  margin: 64px auto 0;
}

.u-section-6 .u-image-1 {
  width: 370px;
  height: 370px;
  margin: 16px auto 0 -22px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: -328px 96px 0 335px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 96px 0 338px;
}

.u-section-6 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -5px 230px 60px 335px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 160px;
    margin-right: 160px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 146px;
    margin-left: 338px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 146px;
  }

  .u-section-6 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-right: 27px;
    margin-left: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 61px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-6 .u-image-1 {
    margin-left: -53px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 20px;
    margin-left: 244px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 20px;
    margin-left: 244px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 20px;
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-left: -90px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 6px;
    margin-left: 198px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 26px;
    margin-left: 198px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
    margin-right: -114px;
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 59px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 102px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -462px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 417px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-4 {
    margin: -1px 2px 55px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 644px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 74px 247px 0 273px;
}

.u-section-7 .u-image-1 {
  width: 348px;
  height: 348px;
  margin: 48px auto 0 42px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: -322px 148px 0 453px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 14px 74px 0 453px;
}

.u-section-7 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 2px 50px 60px 453px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 73px;
    margin-right: 147px;
    margin-left: 173px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -328px;
    margin-right: 24px;
    margin-left: 377px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 68px;
    margin-left: 377px;
  }

  .u-section-7 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: 4px;
    margin-right: 68px;
    margin-left: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 69px;
    margin-right: 37px;
    margin-left: 63px;
  }

  .u-section-7 .u-image-1 {
    width: 313px;
    height: 313px;
    margin-top: 37px;
    margin-left: -5px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -318px;
    margin-right: 60px;
    margin-left: 329px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 0;
    margin-right: 14px;
    margin-left: 329px;
  }

  .u-section-7 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -4px;
    margin-right: -104px;
    margin-left: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 87px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: -400px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 374px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-7 .u-text-4 {
    font-size: 3rem;
    margin-top: -1px;
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-image-1 {
    margin-top: 66px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -375px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 369px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 4px;
    margin-left: -6px;
    margin-right: -6px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 75px 239px 0 281px;
}

.u-section-8 .u-image-1 {
  width: 493px;
  height: 493px;
  margin: -2px auto 0 -38px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: -433px 145px 0 441px;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 16px 62px 0 441px;
}

.u-section-8 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 2px 124px 60px 441px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 139px;
    margin-left: 181px;
  }

  .u-section-8 .u-image-1 {
    margin-top: -11px;
    margin-left: -89px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: -408px;
    margin-right: 45px;
    margin-left: 341px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 45px;
    margin-left: 341px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: -15px;
    margin-right: 25px;
    margin-left: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 75px;
    margin-right: 29px;
    margin-left: 71px;
  }

  .u-section-8 .u-image-1 {
    width: 459px;
    height: 459px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -412px;
    margin-right: 0;
    margin-left: 326px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 326px;
  }

  .u-section-8 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -6px;
    margin-right: 29px;
    margin-left: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 351px;
    height: 351px;
    margin-top: 0;
    margin-left: -66px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -311px;
    margin-right: -96px;
    margin-left: 242px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 7px;
    margin-right: 2px;
    margin-left: 242px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: -67px;
    margin-left: 242px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-image-1 {
    width: 416px;
    height: 416px;
    margin-top: 93px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -505px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 420px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 9px;
    margin-left: -26px;
    margin-right: -26px;
  }
} .u-section-9 {
  background-image: url("images/desfoque-abstrato-estudio-vazio-de-gradiente-verde-bem-use-como-modelo-de-site-de-fundo-de-relatorio-de-negocios_1258-52607.webp");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 834px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 835px;
  margin: 72px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 35px 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
  box-shadow: 5px 5px 11px 0 rgba(0,0,0,0.4);
  margin: 43px auto 60px;
  padding: 15px 43px 15px 42px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 64px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 42px;
    margin-left: -6px;
    margin-right: -6px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 885px;
  margin: 67px auto 0;
}

.u-section-10 .u-video-1 {
  width: 734px;
  height: 413px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-10 .u-text-1 {
    width: 499px;
    margin-top: 61px;
  }

  .u-section-10 .u-video-1 {
    margin-top: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-10 .u-video-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 46px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-10 .u-video-1 {
    height: 347px;
    width: 617px;
    margin-top: 29px;
    margin-left: -38px;
    margin-right: -38px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-video-1 {
    height: 286px;
    width: 282px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-11 {
  background-image: url("images/desfoque-abstrato-estudio-vazio-de-gradiente-verde-bem-use-como-modelo-de-site-de-fundo-de-relatorio-de-negocios_1258-52607.webp");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 493px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 594px;
  margin: 48px auto 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px 57px 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-11 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: 24px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1085px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 620px;
  margin: 52px auto 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-12 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 620px;
  margin: 25px auto 0;
}

.u-section-12 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-12 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 708px;
  margin: 25px auto 0;
}

.u-section-12 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-12 .u-text-6 {
    width: auto;
    margin-left: 76px;
    margin-right: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1355px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-12 .u-text-4 {
    width: auto;
  }

  .u-section-12 .u-text-5 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-12 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2101px;
  }

  .u-section-12 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-text-6 {
    margin-bottom: 40px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 95px;
}

.u-section-13 .u-text-1 {
  font-size: 1.125rem;
  margin: 11px auto 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-13 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-13 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 24px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    width: auto;
  }

  .u-section-13 .u-text-2 {
    width: 667px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin: -2px 27px 20px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-13 .u-text-2 {
    width: 371px;
    margin: 0 auto 7px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}